    <!-- footer de la pagina-->
    <footer class="bg-dark text-white p-2">
        <p class="text-center">Derechos reservados NGOX - {{anio}}<p>
        <p class="text-center p-0 mt-0"><a href="terminos.html">Terminos</a></p>
    </footer>



<script src="bts4/js/jquery-3.3.1.min.js"></script>
<script src="bts4/js/popper.min.js"></script>
<script src="bts4/js/bootstrap.min.js"></script>
<script src="js/scroll.js"></script>
</body>
</html>