<header id="headerPrincipal" class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container">
            <a href="home" class="navbar-brand" >
               <img src="resource/logo.png" height="40px" class="d-inline-block align-top" id="logotipo">
                <!--<span>EaseLease</span>-->
                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrimario" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="menuPrimario">
                <nav class="navbar-nav mr-auto">
                    <a href="/" class="nav-link active">Home</a>
                    

                    
                </nav>
                <nav class="navbar-nav">
                    <a href="about" class="nav-link">about</a>

                </nav>
            </div>
        </div>
    </header>