{{> head }}   
<body data-spy="scroll" data-offset="0">
    {{> header}}
    <div class="container">
        <h1>ABOUT </h1>
        <img src="resource/logo.png" alt="" class="img-fluid">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea ipsa blanditiis perferendis accusamus nesciunt ex quidem ipsum maiores optio?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea ipsa blanditiis perferendis accusamus nesciunt ex quidem ipsum maiores optio?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea ipsa blanditiis perferendis accusamus nesciunt ex quidem ipsum maiores optio?
        </p>
        <p>
            {{texto}}
        </p>
    </div>

{{> footer}}